<div class="row" id="top-section">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
        <h2 class="text-center">Map of the USA</h2>
        <div class="map_embed" id="map"></div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <h4>Countries</h4>
            <div class="btn-group-vertical" role="group">
                {%for capital in other_capitals%}
                <a class="btn btn-info" href="/capitals/capital/{{capital.name}}">{{capital.name}}</a>
                {%endfor%}
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
        <h4>US Capitals</h4>
        <div class="progress">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{us_capitals_visited_percent}}"
                 class="progress-bar" role="progressbar" style="width: {{us_capitals_visited_percent}}%;">
                {{us_capitals_visited}} / 50
            </div>
        </div>
        <div class="row">
            <div id="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>States</h1>
                <div class="columns">
                    <ul>
                        {%for capital_city in us_states_list%}
                        <li>
                            <div class="btn-group-vertical" role="group">
                                {%if capital_city.visited%}
                                <a class="btn btn-success" href="/capitals/capital/{{capital_city.name}}" id="btn-custom1">
                                    ({{capital_city.visited_order_position}}) {{capital_city.name}}, {{capital_city.state_abbr}}</a>
                                {%else%}
                                <a class="btn btn-default inactiveLink" href="/" id="btn-custom1">
                                    {{capital_city.name}}, {{capital_city.state_abbr}}</a>
                                {%endif%}
                            </div>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>