{% extends "capitals_index.html" %}
{% block content %}
  <div class="container">
    {% include "capitals_dashboard.html" %}
    <div class="pagination">
      <span class="step-links">
        {% load static %}
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"><img src="{% static "img/back.png" %}" class="pagination-nav-icon"></a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><img src="{% static "img/next.png" %}" class="pagination-nav-icon"></a>
        {% endif %}
      </span>
    </div>
    {% for capital in page_obj %}
      {% include "capital_card.html" %}
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
        {% load static %}
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"><img src="{% static "img/back.png" %}" class="pagination-nav-icon"></a>
        {% endif %}
        <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"><img src="{% static "img/next.png" %}" class="pagination-nav-icon"></a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
