<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">
    <title>Leo and Jen - Capitals Journey</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
      }
      .leaflet-container {
        height: 100%;
      }
    </style>
    <link href="{% static "css/capitals-custom.css" %}" rel="stylesheet">
    {% include "capitals_leaflet_head.html" %}
  </head>
  <body>
    <div id="map" class="map_full"></div>
    {% include "capitals_leaflet_foot.html" %}
  </body>
</html>
