        <!-- Leaflet and map items -->
        {% load static %}
        <link rel="stylesheet" href="{% static "leaflet1.6.0/leaflet.css"%}" />
        <script src="{% static "leaflet1.6.0/leaflet.js"%}"></script>
        <link rel="stylesheet" href="{% static "markercluster/MarkerCluster.css"%}" />
        <link rel="stylesheet" href="{% static "markercluster/MarkerCluster.Default.css"%}" />
        <script src="{% static "markercluster/leaflet.markercluster.js"%}"></script>
        <!-- end Leaflet/map -->