<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static "img/video-camera.png" %}">
    <title>Leo and Jen - The Video Gallery</title>

    <link href="{% static "bootstrap3.3.7/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/video-custom.css" %}" rel="stylesheet">
    <link href="{% static "js/jquery-ui1.12.1/jquery-ui.min.css" %}" rel="stylesheet">
    {% block additional_css %}{% endblock %}
  </head>
  <body>
    {% if show_nav %}
      {% include "nav.html" %}
    {% endif %}
    <div class="container">
      {% block content %}{% endblock %}
    <div class="footer"></div>
    </div>
    {% block pre_js %}{% endblock %}
    <script src="{% static "js/jquery1.11.3/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-ui1.12.1/jquery-ui.min.js" %}"></script>
    <script src="{% static "bootstrap3.3.7/bootstrap.min.js" %}"></script>
    {% block post_js %}{% endblock %}
  </body>
</html>
