{% extends "videos_base.html" %}
{% block additional_css %}
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    .leaflet-container {
      height: 100%;
    }
  </style>
  {% load static %}
  <link rel="stylesheet" href="{% static "leaflet1.6.0/leaflet.css" %}" />
  <link rel="stylesheet" href="{% static "markercluster/MarkerCluster.css" %}" />
  <link rel="stylesheet" href="{% static "markercluster/MarkerCluster.Default.css" %}" />
{% endblock additional_css%}
{% block content %}
  <div id="map" class="map_full"></div>
{% endblock content%}
{% block post_js %}
  <script>
    var customLat = (function () { return; })();
    var customLon = (function () { return; })();
  </script>
  <script>
    var video_map_data = {{video_map_data|safe}}
    var external_map_data = {{external_map_data|safe}}
  </script>
  <script>
    $(document).ready(function () {
      $(".nav li").removeClass("active");
      $('#nav-map').addClass('active');
    });
  </script>
  <script src="{% static "leaflet1.6.0/leaflet.js"%}"></script>
  <script src="{% static "markercluster/leaflet.markercluster.js"%}"></script>
  <script src="{% static "js/videos_leaflet_map_custom.js"%}"></script>
{% endblock %}