{% extends "videos_base.html" %}
{% block content %}
  {% load static %}
  {% load widget_tweaks %}
  {{ edit_form.media }}

  {% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% for message in messages %}
        <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <h2>Edit Video</h2>

  <div class="row well well-lg">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form class="form-horizontal"
            action="{% if from %}?next={{ from }}{% endif %}"
            method="post"
            enctype="multipart/form-data">
        {% csrf_token %}

        {% if edit_form.non_field_errors %}
          <div class="alert alert-danger" role="alert">{{ edit_form.non_field_errors }}</div>
        {% endif %}

        <div class="form-group {% if edit_form.name.errors %}has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ edit_form.name.id_for_label }}">
            Name <span class="text-danger">*</span>
          </label>
          <div class="col-sm-10">
            {{ edit_form.name|add_class:"form-control" }}
            {% if edit_form.name.errors %}
              <span class="help-block">{{ edit_form.name.errors }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group {% if edit_form.date_shot.errors %}has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ edit_form.date_shot.id_for_label }}">
            Date Taken <span class="text-danger">*</span>
          </label>
          <div class="col-sm-10">
            {{ edit_form.date_shot|add_class:"form-control"|attr:"type:date" }}
            {% if edit_form.date_shot.errors %}
              <span class="help-block">{{ edit_form.date_shot.errors }}</span>
            {% endif %}
            <span class="help-block">The date this video was recorded</span>
          </div>
        </div>

        <div class="form-group {% if edit_form.description.errors %}has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ edit_form.description.id_for_label }}">
            Description
          </label>
          <div class="col-sm-10">
            {{ edit_form.description|add_class:"form-control"|attr:"rows:4" }}
            {% if edit_form.description.errors %}
              <span class="help-block">{{ edit_form.description.errors }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group {% if edit_form.tags.errors %}has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ edit_form.tags.id_for_label }}">
            Tags
          </label>
          <div class="col-sm-10">
            {{ edit_form.tags|add_class:"form-control" }}
            {% if edit_form.tags.errors %}
              <span class="help-block">{{ edit_form.tags.errors }}</span>
            {% endif %}
            <span class="help-block">Hold Ctrl (Cmd on Mac) to select multiple tags</span>
          </div>
        </div>

        <!-- Location Section -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <h4>Location Information</h4>
            <p class="text-muted">
              <a href="https://www.latlong.net/" target="_blank">
                <span class="glyphicon glyphicon-map-marker"></span> Need help finding coordinates?
              </a>
            </p>
          </div>
        </div>

        <div class="form-group {% if edit_form.lat.errors %}has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ edit_form.lat.id_for_label }}">
            Latitude
          </label>
          <div class="col-sm-10">
            {{ edit_form.lat|add_class:"form-control"|attr:"placeholder:e.g., 35.7796" }}
            {% if edit_form.lat.errors %}
              <span class="help-block">{{ edit_form.lat.errors }}</span>
            {% endif %}
          </div>
        </div>

        <div class="form-group {% if edit_form.lon.errors %}has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ edit_form.lon.id_for_label }}">
            Longitude
          </label>
          <div class="col-sm-10">
            {{ edit_form.lon|add_class:"form-control"|attr:"placeholder:e.g., -78.6382" }}
            {% if edit_form.lon.errors %}
              <span class="help-block">{{ edit_form.lon.errors }}</span>
            {% endif %}
          </div>
        </div>

        {% if quick_locations %}
          <div class="form-group">
            <label class="col-sm-2 control-label">Quick Locations</label>
            <div class="col-sm-10">
              <div class="btn-group" role="group">
                {% for qloc in quick_locations %}
                  <button type="button"
                          id="{{ qloc.html_id }}"
                          class="btn btn-default"
                          title="Set to {{ qloc.label }}">
                    <span class="glyphicon glyphicon-map-marker"></span> {{ qloc.label }}
                  </button>
                {% endfor %}
              </div>
              <span class="help-block">Click to quickly set coordinates to a saved location</span>
            </div>
          </div>
        {% endif %}

        <div class="form-group {% if edit_form.poster.errors %}has-error{% endif %}">
          <label class="col-sm-2 control-label" for="{{ edit_form.poster.id_for_label }}">
            Poster Image
          </label>
          <div class="col-sm-10">
            {{ edit_form.poster }}
            {% if edit_form.poster.errors %}
              <span class="help-block">{{ edit_form.poster.errors }}</span>
            {% endif %}
            <span class="help-block">Thumbnail image for the video</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="save_shot" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
            <button type="submit" name="save_video_and_main" class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-floppy-disk"></span> Save &amp; Return to Main
            </button>
            <button type="submit" name="cancel-button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block post_js %}
  <script>
  $(document).ready(function(){
    // Quick location buttons
    {% for qloc in quick_locations %}
      $("#{{ qloc.html_id }}").click(function() {
        $("#id_lon").val({{ qloc.lon }});
        $("#id_lat").val({{ qloc.lat }});

        // Visual feedback
        $(this).addClass('btn-success').removeClass('btn-default');
        setTimeout(function() {
          $("#{{ qloc.html_id }}").addClass('btn-default').removeClass('btn-success');
        }, 1000);
      });
    {% endfor %}

    // Confirm navigation away if form has changes
    var formChanged = false;
    $('form input, form textarea, form select').on('change', function() {
      formChanged = true;
    });

    $('button[name="cancel-button"]').on('click', function(e) {
      if (formChanged) {
        if (!confirm('You have unsaved changes. Are you sure you want to cancel?')) {
          e.preventDefault();
        }
      }
    });
  });
  </script>
{% endblock post_js %}