{% extends "data_base.html" %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {%if years_range%}
      <h1 class="h2">{{vmt_data_per_years_given.0.get_name}} for {{years_range}}</h1>
    {%else%}
      <h1 class="h2">{{vmt_data_per_years_given.0.get_name}}</h1>
    {%endif%}
    <form action="?" method="get">
      <label for="years_input">Years: </label>
      <input id="years_input" type="text" name="years" placeholder="Ex: 2019-2021" value="{{years_range}}">
      <input type="submit" value="Submit">
      <p>Keywords: "all", "year+"</p>
    </form>
  </div>

  {%if warning%}
  <div class="alert alert-warning" role="alert">
    {{warning}}
  </div>
  {%endif%}

  <canvas class="my-4" id="chart" width="900" height="380"></canvas>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Year</th>
          <th>Total Miles</th>
          <th>YTD Miles</th>
        </tr>
      </thead>
      <tbody>
        {%for yearly_dataset in yearly_datasets%}
        <tr>
          <td>{{yearly_dataset.year}}</td>
          <td>{{yearly_dataset.get_total_miles}}</td>
          <td>{{yearly_dataset.get_ytd_miles}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>


  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Reading Date</th>
          <th>Odometer Reading</th>
          <th>{{vmt_data_per_years_given.0.get_measurement_units}}</th>
        </tr>
      </thead>
      <tbody>
        {%for reading in vmt_data_per_years_given reversed%}
        <tr>
          <td>{{reading.reading_date}}</td>
          <td>{{reading.odometer_reading}}</td>
          <td>{{reading.get_miles_per_month}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}