{% extends "data_base.html" %}
{% block content %}
<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <h2>Preview Extracted Data</h2>
  {% if data.bill_type == "Electricity" %}
  <dl class="row">
    <dt class="col-sm-3">Bill Date</dt><dd class="col-sm-9">{{ data.billing_date }}</dd>
    <dt class="col-sm-3">Service Start Date</dt><dd class="col-sm-9">{{ data.start_date }}</dd>
    <dt class="col-sm-3">Service End Date</dt><dd class="col-sm-9">{{ data.end_date }}</dd>
    <dt class="col-sm-3">kWh Usage</dt><dd class="col-sm-9">{{ data.electricity_usage_kwh }}</dd>
    <dt class="col-sm-3">Meter Reading Actual</dt><dd class="col-sm-9">{{ data.actual_reading }}</dd>
    <dt class="col-sm-3">Meter Reading Previous</dt><dd class="col-sm-9">{{ data.previous_reading }}</dd>
    <dt class="col-sm-3">Carried Forward Balance</dt><dd class="col-sm-9">{{ data.carried_forward_balance }}</dd>
    <dt class="col-sm-3">Solar Sent to Grid</dt><dd class="col-sm-9">{{ data.energy_delivered_to_grid }}</dd>
    <dt class="col-sm-3">Solar Reading Actual</dt><dd class="col-sm-9">{{ data.delivered_actual_reading }}</dd>
    <dt class="col-sm-3">Solar Reading Previous</dt><dd class="col-sm-9">{{ data.delivered_previous_reading }}</dd>
  </dl>
  {% elif data.bill_type == "Gas" %}
  <dl class="row">
    <dt class="col-sm-3">Bill Date</dt><dd class="col-sm-9">{{ data.billing_date }}</dd>
    <dt class="col-sm-3">Service Start Date</dt><dd class="col-sm-9">{{ data.start_date }}</dd>
    <dt class="col-sm-3">Service End Date</dt><dd class="col-sm-9">{{ data.end_date }}</dd>
    <dt class="col-sm-3">Therms Usage</dt><dd class="col-sm-9">{{ data.therms_usage }}</dd>
  </dl>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
    <button type="submit" name="save" class="btn btn-primary">Save</button>
  </form>
</main>
{% endblock %}
