{% extends "data_base.html" %}
{% block content %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Upload Files</h1>
    <div class="container mt-4">
    {% if messages %}
      <div class="alert-container">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="file"><strong>Select a file to upload:</strong></label>
              <input type="file" class="form-control" id="file" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <h3>Electricity Bills</h3>
      <div class="row">
        {% for card in elec_cards %}
          <div class="col-md-2">
            <div class="card text-center
                        {% if card.has_multiple %}
                          card-red
                        {% elif card.has_bill %}
                          card-green
                        {% else %}
                          card-gray
                        {% endif %}
                       ">
              <div class="card-body">
                <h6 class="card-text">{{ card.month|slice:":3" }} - {{ card.year }}</h6>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:"6" %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container mt-4">
      <h3>Gas Bills</h3>
      <div class="row">
        {% for card in gas_cards %}
          <div class="col-md-2">
            <div class="card text-center
                        {% if card.has_multiple %}
                          card-red
                        {% elif card.has_bill %}
                          card-green
                        {% else %}
                          card-gray
                        {% endif %}
                       ">
              <div class="card-body">
                <h6 class="card-text">{{ card.month|slice:":3" }} - {{ card.year }}</h6>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:"6" %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container mt-4">
      <h3>Water Bills</h3>
      <div class="row">
        {% for card in water_cards %}
          <div class="col-md-2">
            <div class="card text-center
                        {% if card.has_multiple %}
                          card-red
                        {% elif card.has_bill %}
                          card-green
                        {% else %}
                          card-gray
                        {% endif %}
                       ">
              <div class="card-body">
                <h6 class="card-text">{{ card.month|slice:":3" }} - {{ card.year }}</h6>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:"6" %}
            </div><div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock %}
